.App {
  text-align: center;
  background-color: rgb(155, 173, 253);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.roll-mage{
  color: black;
  font-size : 16px
}

.page-header{
  font-size: larger;
}

.page-style{
  background-color:grey ;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.armorBox {
  display: flexbox;
  flex-direction: column;
  justify-content:center;
  width: 75%;
  height: 500px;
  background-color: rgb(89, 89, 217)
}
.armorItem {
  color: blue;
}
.appbackdrop {
  background-color: #282c34;
}